body {
  margin: 0;
}
.gridWrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  width: 90vw;
}
@media only screen and (max-width: 1200px) {
  .gridWrapper{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .gridWrapper{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  .gridWrapper{
    width: 300px;
    grid-template-columns: repeat(1, 1fr);
  }
}